@model SampleProject.ViewModels.Product.UpdateProductViewModel

@{
    ViewData["Title"] = "View";
}

<h4>مشاهده اطلاعات محصول</h4>
<hr />

<form method="post" action="Update" class=mt-5>

     <div class="mb-3">
    <label for="exampleInputCode" class="form-label" hidden>کد محصول</label>
    <input type="text" class="form-control" id="Id" asp-for="Id" hidden>
   
  </div>
  <div class="mb-3">
    <label for="exampleInputTitle" class="form-label">نام محصول</label>
    <input type="text" class="form-control" id="Title" asp-for="Title">
     <span asp-validation-for="Title" class="text-danger"></span>
   
  </div>
  <div class="mb-3">
    <label for="exampleInputDescription" class="form-label">توضیحات</label>
    <input type="text" class="form-control" id="Description" asp-for="Description">
  </div>
  <div class="mb-3">
        <label for="exampleInputCount" class="form-label">تعداد</label>
        <input type="text" class="form-control" id="Count" asp-for="Count">
        <span asp-validation-for="Count"  class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputPrice" class="form-label">قیمت</label>
        <input type="text" class="form-control" id="Price" asp-for="Price">
         <span asp-validation-for="Price"  class="text-danger"></span>
    </div>
     <div class="mb-3">
        <label for="exampleInputModel" class="form-label">مدل</label>
        <input type="text" class="form-control" id="Model" asp-for="Model">
        <span asp-validation-for="Model"  class="text-danger"></span>
    </div>
     <div class="mb-3">
        <label for="exampleInputColor" class="form-label">رنگ</label>
        <input type="text" class="form-control" id="Color" asp-for="Color">
        <span asp-validation-for="Color"  class="text-danger"></span>
    </div>
     <div class="mb-3">
        <label for="exampleInputMission" class="form-label">ابعاد</label>
        <input type="text" class="form-control" id="Mission" asp-for="Mission">
        <span asp-validation-for="Mission"  class="text-danger"></span>
    </div>

  <button type="submit" class="btn btn-primary">ویرایش</button>
  <a class="btn btn-warning" href="Product">انصراف</a>
</form>



@section Scripts {
    @{

    <partial name="_ValidationScriptsPartial" />
}
}

